.app-margin {
  margin-bottom: 20px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 20px !important;
}

.app-margin-bottom {
  margin-bottom: 20px !important;
}

.app-margin-left {
  margin-left: 20px !important;
}

.app-margin-none {
  margin: 0 !important;
}

.app-margin-right {
  margin-right: 20px !important;
}

.app-margin-top {
  margin-top: 20px !important;
}


.app-title {
  font-size: 1.2rem !important;
}

.app-tall {
  height: 100% !important;
}


